#particles-js {
  position: fixed; /* stays behind all sections */
  inset: 0;
  width: 100vw;
  height: 100vh;

  /* Gradient background */
  background: linear-gradient(
    135deg,
    #201f1f,   /* dark grey */
    #150637    /* dark purple */
  );

  z-index: -1; /* behind all content */
}
